<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
<preference for="Shop\SearchApi\Api\ProductRepositoryInterface" type="Shop\SearchApi\Model\ProductRepository" />
<preference for="Shop\SearchApi\Api\Data\ProductInterface" type="Shop\SearchApi\Model\Data\Product" />    
</config>